@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="content">
        <section class="main-content">
            <h2>Our Mission</h2>
            <p>Welcome to Silver Screen Hub. We are dedicated to providing you with the latest movie recommendations to cater to your cinematic tastes. We believe that movies have diverse charms, touching hearts, evoking emotions, inspiring thoughts, and delivering entertainment and joy.</p>

            <h2>Our Advantages</h2>
            <ul>
                <li>Curated Recommendations: We carefully curate the finest movies to ensure you get the best viewing experience.</li>
                <br />  
                <li>Clean and Ad-Free Interface: The website boasts a simple and clutter-free design, ensuring a seamless browsing experience without any disruptive advertisements.</li>
                <br />
                <li>User-Friendly Interface: With an intuitive and easy-to-navigate layout, users can effortlessly explore the website's features and access information without any hassle.</li>
                <br />
                <li>Swift Search Functionality: The website offers a rapid and efficient search feature, enabling users to quickly find the desired information or content without any delays.</li>
            </ul>
        </section>
    </div>
</main>