@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="content22">
        <h2>Welcome to Our Movie Recommendation Website</h2>
        <p>Discover a world of cinematic wonders with our carefully curated movie recommendations. Whether you're a film enthusiast, a casual viewer, or just looking for a great movie night, we have something for everyone.</p>

        <h2>Why Choose Us?</h2>
        <p>We take pride in offering a unique movie-watching experience. Here are some reasons to choose our website:</p>
        <ul>
            <li>Extensive Movie Collection</li>
            <li>Personalized Recommendations</li>
            <li>Ad-Free Browsing</li>
        </ul>

        <p>Join us in exploring the world of cinema and making your movie nights unforgettable.</p>
    </div>


    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Email us:</strong> <a href="mailto:Marketing@example.com">Email@example.com</a>
    </address>
</main>